@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  letter-spacing: 0.25rem;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/nebula.png");
  background-size: cover;
  /* background: rgb(83, 151, 228); */
  /* background: linear-gradient(
    90deg,
    rgba(83, 151, 228, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  margin: 0;
}

#slideshow {
  height: 90%;
  width: auto;
  aspect-ratio: 16 / 9;
  max-width: 90%;
  color: white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 12px rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}

@media (max-width: 1400px) {
  #slideshow {
    height: auto;
    width: 90%;
  }
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title-slide {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  height: fit;
  width: 100%;
  flex-direction: column;
}

.even-slide,
.odd-slide {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  height: 75%;
  width: 90%;
  padding: 1rem;
}

.even-slide .container {
  flex-direction: row-reverse;
}

.odd-slide .container {
  justify-content: space-between;
}

.even-slide .text-content {
  width: 45%;
  height: fit;
  text-align: center;
}

@media (max-width: 1400px) {
  .title-slide {
    font-size: 1rem;
  }
}

.slide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  transition: transform 0.3s ease;
  margin: 0 8px;
}

button:hover {
  transform: translateY(-50%) scale(1.2);
}

#prev {
  left: 0;
  z-index: 10;
}

#next {
  right: 0;
  z-index: 10;
}

#slideshow {
  position: relative;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInFromRight 1s forwards;
}

.slide-out-left {
  animation: slideOutToLeft 1s forwards;
}

.slide-in-left {
  animation: slideInFromLeft 1s forwards;
}

.slide-out-right {
  animation: slideOutToRight 1s forwards;
}

/* code-container */

.embossed-container {
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1),
    0 -5px 20px rgba(255, 255, 255, 0.1);
  background: rgba(40, 44, 52, 0.7);
  padding: 0 1rem 1rem 1rem;
  position: relative;
  text-wrap: wrap;
  height: 75%;
  width: 45%;
  overflow: auto;
}

@media (min-width: 1200px) {
  .embossed-container {
    max-height: 70%;
  }
}

.code-container {
  max-width: 100%;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: auto;
}

@media (max-width: 768px) {
  .code-container {
    font-size: 0.5rem;
  }
}

.code-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.code-container::-webkit-scrollbar-track {
  background: rgba(30, 31, 40, 0.5);
  border-radius: 4px;
}

.code-container::-webkit-scrollbar-thumb {
  background-color: rgba(42, 42, 55, 0.7);
  border-radius: 4px;
}

.embossed-container::-webkit-scrollbar {
  width: 4px;

  height: 4px;
}

.embossed-container::-webkit-scrollbar-track {
  background: rgba(30, 31, 40, 0.5);
  border-radius: 4px;
}

.embossed-container::-webkit-scrollbar-thumb {
  background-color: rgba(42, 42, 55, 0.7);
  border-radius: 4px;
}

.window-controls {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem 0.5rem;
}

.control-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}
